body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 500px;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    margin: 5%;
  }
}
